<div class="container-fluid navbar-light bg-light sticky-top pt-2">
    <div class="row">
        <div class="col-md-6 ">
            <a class="navbar-brand" style="font-size: 40px;"><b><i class="fab fa-github"></i></b></a>
            <a class="navbar-brand" style="font-size: 40px;"><b><i class="fab fa-instagram"></i></b></a>
            <a class="navbar-brand" style="font-size: 40px;"><b><i class="fab fa-facebook"></i></b></a>
            <a class="navbar-brand" style="font-size: 40px;"><b><i class="fab fa-twitter"></i></b></a>
        </div>
        <div class="col-md-6 pt-2 links d-flex justify-content-end">
        
            <a class="navbar-brand bg-white text-dark" style="font-size: 26px;"routerLink='/profile'><b>Profile</b></a>
            <a class="navbar-brand text-primary bg-white" style="font-size: 26px;" routerLink='/my-repos'><b>Repositories</b></a>
        </div>
        
    </div>
</div>
