.links a{
    
    
    margin-top: 3px;
    margin-left: 100px;
    padding: 5px;
    font-size:30px;
}
.container{
    background-color: rgb(94, 73, 47);
}
.navbar-brand{
    color: rgb(221, 111, 111);
    
}