.links a{
    background-color: rgb(221, 111, 111) !important;
    border-radius: 20px;
    
    margin-left: 100px;
    padding: 5px;
    font-size:30px;
}
.container{
    background-color: rgb(94, 73, 47);
}